@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .details-area{
        width: calc(100% - 240px);
    }
}

*{
    font-family: 'Nunito', sans-serif;
}

.sidebar {
    background-color: rgba(35, 55, 75, 0.9);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

.map-container {
    height: 100vh;
}